* {
    font-family: Montserrat;
}

body {
    display: block;
    background-color: rgb(225, 224, 224);
    text-align: center;
    margin-left: 0;
}

div img {
    width: 75%;
}

section img {
    width: 90%;
    min-width: 250px;
}

section h3 {
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

p {
    display: inline-block;
    text-align: center;
    width: 80%
}

a {
    text-decoration: none;
}

img {
    border-radius: 10px;
}

#portfolio {
    background-color: white;
    margin-left: 1em;
    margin-right: 0.5em;
    min-width: 270px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 1.5em;
    padding-inline-end: 1em;
}

.nav-bar h3 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

ul li {
    background-color: white;
    text-align: center;
    height: auto;
    margin-top: 1em;
    min-width: 125px;
    border-radius: 50px;
}

#portrait {
    min-width: 200px;
}

.portfolio-title {
    margin-bottom: 2em;
}

section {
    margin-bottom: 10%;
}

.introduction {
    margin:3em;
}

.contact {
    display: inline-block;
    flex-direction: column;
    text-align: center;
}

footer {
    display: flex;
    height: 1em;
    padding: 0 1em 0 1em;
    margin-bottom: 3em;
    justify-content: space-between;
}

hr {
    margin-left: .5em;
}

/* ------------------------ 
        Media Queries 
------------------------- */

@media (min-width: 769px) {

    /* ----- START NAVBAR + INTRO CODE------ */

    .nav-bar {
        display: inline-flex;
        width: 500px;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;

    }
    .nav-bar h3 {
        margin: 0.75em 1.5em 0.75em 1.5em;
    }
    .introduction {
        display: flex;
        margin-right: .5em
    }
    #intro-para {
        padding: 0 1em 0 1em;
    }
    /* ----- END NAVBAR + INTRO CODE ------ */

    /* ----- START PORTFOLIO CODE ------ */
    .portfolio {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {

}
